@font-face {
  font-family: 'HelveticaNeue';
  src: url('PragmaticaMedium.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}
.topPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
  z-index: 200;
}
.topPanelDesktop {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}
.menu {
  position: relative;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
  padding-left: 2%;
  padding-right: 2%;
}
.mobileMenu {
  position: relative;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin-top: 0%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 6%;
}
.logo {
  position: relative;
  font-family: HelveticaNeue;
  font-size: 3.2vw;
  cursor: pointer;
  margin: 0 0 0 2%;
  letter-spacing: .06em;

}
.mobileLogo {
  font-size: 6vw;
  margin: 3% 0 3% 0;
  top: 0;
}
.buttonCSS {
  position: relative;
  background-color: transparent;
  font-family: Verdana;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  color: #555555;
  font-size: 1.40vw;
}
.mobileButton {
  font-size: 2.5vw;
}
.selectedCSS {
  position: relative;
  background-color: transparent;
  font-family: Verdana;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  color: #555555;
  font-size: 1.40vw;
}
.mobileSelected {
  font-size: 2.5vw;
}
#focusDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
#comingSoon {
  font-family: Verdana;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  align-self: center;
  justify-self: center;
}
.contactLabel {
  font-family: Verdana;
  font-weight: 400;
  color: #555555;
}
.contactRow {
  display: flex;
  align-items: center;
}
#mobileTopRow { /* extends down to 11%*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eeeeee;
  z-index: 10;
  height: 10%;
  padding-top: 2%;
}